/*Common Styles*/
* {
    font-family: 'Ubuntu', sans-serif;
}

html, body {
    margin: 0;
    min-width: 320px;
    background-color: #e8e8e4;
    color: #1d3557;
}

button {
    cursor: pointer;
}

.title,
.letter,
.hidden-letter{
    text-transform: uppercase;
}

.letter,
.play-again-btn {
    transition: background-color 0.35s ease-in-out, color 0.2s ease-in-out;
}

/*Animation Styles*/
@keyframes strike {
    0%   { width : 0; }
    100% { width: 100%; }
}


/*Main Styles*/
.main-content {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/*Title Styles*/
.title-section {
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin: 3vh 0;
    text-align: center;
    font-size: 5rem;
    letter-spacing: 0.5rem;
}

.status {
    margin: 0 1rem;
    font-size: 2.5rem;
    letter-spacing: 0.15rem;
    text-align: justify;
}

/*Alphabet Styles*/
.alphabet-section {
    margin: 0 2rem 5vh;
    display: flex;
    flex-wrap: wrap;
}

.letter {
    width: 40px;
    font-size: 1.75rem;
    padding: 0.25rem 0;
    margin: 0 0.75rem;
    border-radius: 4px;
    border: none;
    background: transparent;
    position: relative;
}

.letter:focus {
    outline: none;
    border: 2px solid #1d3557;
    margin: -2px 0.75rem;
}

.letter:hover,
.letter:active {
    background: #1d3557;
    color: #e8e8e4;
}

.strike-through::before {
    position: absolute;
    top: 50%;
    left: 0;
    content: '';
    width: 100%;
    height: 0.25rem;
    background: #1d3557;
    animation: strike 0.35s linear 1 forwards;
    transition: background-color 0.35s ease-in-out;
}

.strike-through:focus {
    border: none;
    margin: 0 0.75rem;
}

.letter:hover.strike-through::before {
    background: #e8e8e4;
}

/*Hidden City Styles*/
.hidden-city-section {
    min-width: 90vw;
    min-height: 45px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin:0 1rem 15vh;
}

.hidden-letter {
    user-select: none;
    margin: 0 1.75rem;
    text-align: center;
    min-width: 25px;
    border-bottom: 3px solid #1d3557;
    color: #e8e8e4;
}

.hidden-letter-whitespace {
    border-bottom: 0;
}

.hangman-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10vh;
    min-width: 400px;
}

.life-value {
    font-size: 2rem;
    letter-spacing: 0.5rem;
}

.play-again-btn {
    width: 100%;
    padding: 0.5rem 0.25rem;
    font-size: 1.25rem;
    letter-spacing: 0.35rem;
    background: #e8e8e4;
    border: 2px solid #1d3557;
    border-radius: 6px;
    margin-bottom: 2vh;
}

.play-again-btn:focus {
    outline: none;
    border: 4px solid #1d3557;
    margin-top: -2px;
    margin-bottom: calc(2vh - 2px);
}

.play-again-btn:hover,
.play-again-btn:active {
    background: #1d3557;
    color: #e8e8e4;
}

.hangman-canvas {
    width: 100%;
    border: 2px dashed #1d3557;
}

/*Responsiveness Styles*/
@media (max-width: 425px) {
    html, body {
        font-size: 3vw;
    }
}
